<% if @friend %>

<h1><%= @friend.first_name %></h1>		

<p>Do you really want to friend <%= @friend.first_name %>?</p>

<%= form_for @user_friendship, method: :post do |f| %>

	<%= f.hidden_field :friend_id, value: @friend.id  %>      
	<%= submit_tag "Send study partner request", class: "button radius" %>
  
<% end %>
<% end %>