<% provide(:title, "New meetup") %>

<div class="small-12 large-6 large-centered columns">
<div class="text-center"><h1>New meetup</h1></div>

	<%= form_for @meetup do |f| %>

		<%= f.label :title %>
		<%= f.text_field :title %>

		<%= f.label :studying %>
		<%= f.select :studying, options_for_select([ "Biology & Life Sciences", "Business & Management", "Chemistry", "Communication", "Computer Science", "Economics & Finance", "Electronics","Energy & Earth Sciences", "Engineering","Environmental Sciences","Food & Nutrition","Food & Nutrition","Health & Safety", "History","Humanities","Law","Literature","Math","Medicine","Music","Philanthropy","Philosophy & Ethics","Physics","Social Sciences","Statistics & Data Analysis"]) %>

		<%= f.label :description %>
		<%= f.text_area :description, style: "height:13em" %>

		<%= f.label :start_time %>
		<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
			<%= f.text_field :start_time, class: "datepicker", size: "16", type: "text" %>
		<span class="add-on"><i class="icon-th"></i></span>
		</div>

		<%= f.label :end_time %>
		<%= f.date_select :end_time, start_year: Time.now.year %>

		<%= f.label :number_of_people %>
		<%= f.number_field :number_of_people %>

		<%= hidden_field_tag "second_user_id", @second_user_id %>

		<div class="text-center"><%= f.submit "Create meetup", class: "button radius" %></div>

	<% end %>


</div>