<%= provide(:title, "Meetup") %>

<div class="small-12 large-6 large-centered columns">
<div class="text-center"><h1>Meetup</h1></div>

	<h2>Meetup with <%= @meetup.people_attending_meetup %></h2>

	<p>Studying: <%= @meetup.studying %></p>

	<p>Description: <%= @meetup.description %></p>

	<p>Start time: <%= @meetup.start_time %></p>

	<p>End time: <%= @meetup.end_time %></p>

	<p>

		<%= form_for @meetup.invitees.find_by(user_id: current_user.id), remote: true do |f| %>
			<div>
							<strong><%= @meetup.user.first_name %></strong>
			<%= f.submit "Attend", class: "button tiny radius" %>
			<%= f.submit "Maybe", class: "button tiny radius" %>
			<%= f.submit "Decline", class: "button tiny radius" %><br/>
			<span class="meetup-label"><%= render partial: "response_form", locals: {response: @meetup.invitees.find_by(user_id: current_user.id).response} %></span>
			</div>


		<% end %>
	</p>

	<p>
		<% @meetup.invitees.each do |i| %>

			<% unless current_user?(i.user) %>
				<p>			<%= i.user.first_name %>
			<%= render partial: "response_form", locals: {response: i.response} %>
</p>
			<% end %>
			
		<% end %>
	</p>

	<p>Number of people: <%= @meetup.number_of_people %></p>
</div>
