<%= provide(:title, "Meetup") %>

<div class="small-12 large-6 large-centered columns">

	<div class="text-center"><h1>Meetup: <%= @meetup.title %></h1></div>
		<div class="user-profile">
		<div class="profile-highlight">
			<h2 class="text-center">Meetup with: <%= @meetup.people_attending_meetup %></h2>
		</div>

		<div class="user-info">
			<h3>Title: <%= @meetup.title %></h3>

			<p>Studying: <%= @meetup.studying %></p>

			<p>Description: <%= @meetup.description %></p>

			<p>Start time: <%= @meetup.start_time.strftime("%A,  %B %e,  %Y  @ %l:%M %P") %></p>

			<p>End time: <%= @meetup.end_time.strftime("%A,  %B %e,  %Y  @ %l:%M %P") %></p>

			<p>Number of people: <%= @meetup.number_of_people %></p>

			<p>
				<h4><u>Attendees</u></h4>

				<%= form_for @meetup.invitees.find_by(user_id: current_user.id), remote: true do |f| %>
					<div>
					<strong><%= @meetup.users.where("user_id = ?", current_user.id).map{|user| user.first_name}.join(",") %></strong>
					<%= f.submit "Attend", class: "submit-link" %>
					<%= f.submit "Maybe", class: "submit-link" %>
					<%= f.submit "Decline", class: "submit-link" %>

					<span id="meetup-label-<%= @meetup.id %>"><%= render partial: "response_form", locals: {response: @meetup.invitees.find_by(user_id: current_user.id).response} %></span>
					</div>


				<% end %>
			</p>

			<p>
				<% @meetup.invitees.each do |i| %>

					<% unless current_user?(i.user) %>
						<p>			
							<%= i.user.first_name %>
							<%= render partial: "response_form", locals: {response: i.response} %>
						</p>
					<% end %>
					
				<% end %>
			</p>

		</div>
	</div>

	<div class="user-profile">
		<div class="profile-highlight"><h2>Comments</h2></div>
	
			
			<div class="user-info">
				<div class="comments">
					<% if @meetup.comments.any? %>
						<%= render "comments" %>
					<% else %>
						<h3>This meetup has no comments!</h3>
					<% end %>
				</div>
			</div>
		
	</div>

	

	<div class="user-profile">
		<div class="profile-highlight"><h3>Write a comment</h3></div>
			<div class="user-info">
							<p>
				<% if current_user %>

					<%= form_for([@meetup,@comment], remote: true) do |f| %>

						<div id="comment-errors"><%= render "comment_errors" %></div>
						
						<%= f.label :content %>
						<%= f.text_area :content %>

						<%= f.submit "Submit comment", class: "button radius small" %>

					<% end %>

				<% else %>

					<h4>Please <%= link_to "log in", login_path %> or <%= link_to "sign up", signup_path %> to write a comment</h4>

				<% end %>
			</p>
			</div>
	</div>

</div>
