<%= form_for @topic do |f| %>
	
	<%= render "shared/error_messages", object: f.object %>

	<div class="topic-form">
		<%= render "ajax_form", object: f %>
	</div>

	<div class="topic-form">
		<%= render "ajax_form", object: f %>
	</div>

	<div class="text-center"><%= f.submit class: "button radius" %></div>

<% end %>