<% provide(:title, "New") %>


	<div class="container">
			<div class="form-container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
		
				<div class="user-profile">

				<div class="profile-highlight pad-header text-center"><h1>Subjects I am studying</h1></div>

				<div class="user-info text-center">
					<div id="user-studying">
						<%= render "user_study" %>
						</div>

				</div>

				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="user-profile">

				<div class="profile-highlight pad-header text-center"><h3>Add topic</h3></div>

				<div class="user-info">
					<%= form_for @topic do |f| %>

					<div class="topic-errors"><%= render "topic_errors" %></div>

					<div class="topic-form">
						<%= render "ajax_form", object: f %>
					</div>

					<br>

					<div class="text-center"><%= f.submit class: "btn btn-primary" %></div>

				<% end %>
				</div>
			</div>
		</div>



</div>
	</div>
	</div>

		