 <%= form_for @user, html: {multipart:true} do |f| %>

 <%= render "shared/error_messages", object: f.object %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :bio %>
  <%= f.text_area :bio, style: "height: 7em;" %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :address, "Enter your address (it will NOT be displayed publicly)" %>
  <%= f.text_field :address %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state_province, "State/province" %>
  <%= f.text_field :state_province %>

  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label :learning %>
  <%= f.select :learning, options_for_select([ "Javascript", "Ruby on Rails", "Python", "jQuery", "C++", "HTML & CSS", "PHP", "Biology", "Calculus", "Linear Algebra", "Differential Equations", "Physics", "Chemistry", "Medicine", "Statistics", "Electronics", "Android Development", "iOS Development", "Google Glass Development", "Tesla Development", "SmartThings Development", "Occulus Rift Development", "Emotiv Development", "Meta Developers", "Raspberry Pi Development"]) %>
  <p><em>Upload a profile picture</em></p>
 <%= f.file_field :image %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

 <div class="text-center"><%= f.submit class: "button radius" %></div>

<% end %>