<% provide(:title, @user.first_name) %>

<div class="row">
	<div class="small-12 large-6 large-centered columns">

		<div class="text-center"><h1>Edit meetup information</h1></div>

			<%= form_for @user do |f| %>

        <div class="row">
          <div class="large-4 columns">
            <%= f.label :currently_available %>  
            <%= f.select :currently_available, options_for_select([ "Yes", "No", "Maybe"]) %>
          </div>
          <div class="large-4 columns">
            <%= f.label :smoking_allowed %>      
            <%= f.select :smoking_allowed, options_for_select([ "Yes", "No"]) %>
          </div>
          <div class="large-4 columns">
            <%= f.label :has_pets %>         
            <%= f.select :has_pets, options_for_select([ "Yes", "No"]) %>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <%= f.label :study_location_available %> 
            <%= f.select :study_location_available, options_for_select([ "Yes", "No"]) %>
          </div>
          <div class="large-6 columns">
            <%= f.label :preferred_gender_of_study_partner %>     
            <%= f.select :preferred_gender, options_for_select([ "Male", "Female", "Any"]) %>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <%= f.label :can_host_children %>    
            <%= f.select :can_host_children, options_for_select([ "Yes", "No"]) %>
          </div>
          <div class="large-6 columns">
            <%= f.label :can_host_pets %>      
            <%= f.select :can_host_pets, options_for_select([ "Yes", "No"]) %>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
             <%= f.label :current_online_learning %>    
             <%= f.select :current_online_learning, options_for_select([ "Edx", "Udacity", "Treehouse", "Coursera", "Khan Academy", "Lynda", "Stanford Online", "MIT Free Courseware"]) %>
          </div>
          <div class="large-6 columns">
                <%= f.label :education %>         
                <%= f.text_field :education %>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <%= f.label :languages %>     
            <%= f.text_field :languages %>
          </div>
          <div class="large-6 columns">
            <%= f.label :skills %>            
            <%= f.text_field :skills %>    
          </div>
        </div>      
  
        <div class="text-center"><%= f.submit class: "button radius" %></div>

			<% end %>

	</div>
</div>

 