<% provide(:title, "All users") %>	

<body>

<div class="jumbotron image-container">

	<div class="container">

		<div class="col-md-6 col-md-offset-5">
			<div class="tingz">
			   <div>
			     <%= image_tag "mind-1.2.png", alt: "calculator", class:"resize-image" %>
			   </div>
			   <div>
			     <%= image_tag "mind-2.2.png", alt: "pens",class:"resize-image" %>
			   </div>
			   <div>
			   	<%= image_tag "mind-3.2.png", alt: "studying",class:"resize-image" %>
			   </div>
			</div>
		</div>

		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			<div class="home-sidebar">
			<div class="text-center"><h3 class="sidebar-title"><em>Learn with people nearby</em></h3></div>

				<%= form_tag users_path, class: "form-signin", role: "form", method: :get do %>
				  <p>

				    <%= text_field_tag :city_search, nil, class: "form-control", placeholder:"Type in a location" %>

				    <br>

				    <%= select_tag :subject_search, options_from_collection_for_select(Subject.all, :id, :name), class: "form-control", prompt: "Select subject" %>

				    <br>

				    <%= select_tag :topic_search, options_for_select(Topic.order('lower(name) ASC').pluck(:name).uniq), class: "form-control", prompt: "Select topic" %>

				    <br>

				    <div><%= submit_tag "Search users", class: "btn btn-lg btn-primary btn-block", id: "home-search" %></div>
				  </p>


				<% end %>

			</div>
		</div>
		<div class="col-md-8 col-sm-7 col-xs-offset-2" id="home-heading">
			<span id="headliner">Learn effectively</span>
		</div>
	  </div>
</div>

	
	<div class="container">
		<div class="row small-bar">
			<div class="col-md-4 col-sm-12">
				<div class="col-md-3 col-sm-2 push-margin-2">
					<%= image_tag "school-hat.png" %>
				</div>
				<div class="col-md-8 col-sm-3 pull-margin-1 small-text-space"><h3>Accelerate your learning</h3></div>
			</div>
			<div class="col-md-4 col-sm-12">
							<div class="col-md-3 col-sm-2 push-margin-2">
					<%= image_tag "earth.png" %>
				</div>
				<div class="col-md-8 col-sm-3 pull-margin-1 small-text-space"><h3>Collaborate with others</h3></div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="col-md-3 col-sm-2 push-margin-2">
					<%= image_tag "idea.png" %>
				</div>
				<div class="col-md-8 col-sm-3 pull-margin-1 small-text-space"><h3>Bring your ideas to life</h3></div>
			</div>
		</div>
	</div>

      <hr class="featurette-divider-small">

	  <div class="container">
	  	<div class="row featurette xs-padding">
	        <div class="col-md-7 col-xs-12 col-sm-12">
	          <h2 class="featurette-heading">Accelerate your learning</h2>
	          <p class="lead">Learn with other like-minded people to help you reach your goals.</p>
	        </div>
	        <div class="col-md-5 col-xs-12 col-sm-12 push-margin-2">
				<%= image_tag "light-bulb.png", alt: "bulb", class: "img-responsive pull-margin-1" %>
	        </div>
	    </div>
	  </div>

      <hr class="featurette-divider">

	  <div class="container">
	  	      <div class="row featurette xs-padding">
        <div class="col-md-5 col-xs-12">
			<%= image_tag "group.png", alt: "group of people", class: "img-responsive image-squeeze" %>
        </div>
        <div class="col-md-7 col-xs-12">
          <h2 class="featurette-heading">Collaborate with other people</h2>
          <p class="lead">Find others to colloborate on projects, assignments, exams or whatever idea you want to bring to fruition.</p>
        </div>
      </div>
	  </div>

      <hr class="featurette-divider">

	  <div class="container">
	  	      <div class="row featurette xs-padding">
        <div class="col-md-7 col-xs-12">
          <h2 class="featurette-heading">Bring your ideas to life</h2>
          <p class="lead">Whether you have an ambitious idea of developing a software application or plan on working with other people on a school project, you can meet other people striving towards similar goals</p>
        </div>
        <div class="col-md-5 col-xs-12 push-margin-1">
			<%= image_tag "mind-feature.png", alt: "mind", class: "img-responsive" %>
        </div>
      </div>
	  </div>

      <hr class="featurette-divider">

      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Mindmeetup, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div>


<script>document.body.className = document.body.className.replace("canvas","");</script>
	