<% provide(:title, "All users") %>


<div class="small-12 large-5 large-push-1 medium-6 columns">
<div class="home-sidebar">
	<div class="text-center"><h3><em>Learn with people nearby</em></h3></div>

		<%= form_tag users_path, method: :get do %>
		  <p>

		    <%= text_field_tag :city_search, nil, placeholder:"Type in a location" %>

		    <%= select_tag :subject_search, options_from_collection_for_select(Subject.all, :id, :name), prompt: "Select subject" %>

		    <%= select_tag :topic_search, options_for_select(Topic.order('lower(name) ASC').pluck(:name).uniq), prompt: "Select topic" %>

		    <div><%= submit_tag "Search users", class: "button expand radius", id: "home-search" %></div>
		  </p>


		<% end %>

</div>
</div>
<div class="text-center" id="home-heading">
	<span id="headliner">Find a study partner.</span>
</div>

