<% provide(:title, "All users") %>	

<div class="jumbotron">

	<div class="tingz">
	   <div>
	     <%= image_tag "mind-1.png", alt: "calculator" %>
	   </div>
	   <div>
	     <%= image_tag "mind2.png", alt: "pens" %>
	   </div>
	   <div class="squish">
	   	<%= image_tag "mind3.png", alt: "studying" %>
	   </div>
	</div>
	<div class="container">

		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			<div class="home-sidebar">
			<div class="text-center"><h3 class="sidebar-title"><em>Learn with people nearby</em></h3></div>

				<%= form_tag users_path, class: "form-signin", role: "form", method: :get do %>
				  <p>

				    <%= text_field_tag :city_search, nil, class: "form-control", placeholder:"Type in a location" %>

				    <br>

				    <%= select_tag :subject_search, options_from_collection_for_select(Subject.all, :id, :name), class: "form-control", prompt: "Select subject" %>

				    <br>

				    <%= select_tag :topic_search, options_for_select(Topic.order('lower(name) ASC').pluck(:name).uniq), class: "form-control", prompt: "Select topic" %>

				    <br>

				    <div><%= submit_tag "Search users", class: "btn btn-lg btn-primary btn-block", id: "home-search" %></div>
				  </p>


				<% end %>

			</div>
		</div>
		<div class="col-md-8 col-sm-7 col-xs-offset-2" id="home-heading">
			<span id="headliner">Find a study partner.</span>
		</div>
	  </div>
</div>
