<% provide(:title, "All users") %>

<div class="tingz">
	<%= image_tag "people-study.jpg", alt: "studying" %>
</div>

<div class="small-12 large-5 large-push-1 medium-6 columns">
<div class="home-sidebar">
	<div class="text-center"><h3><em>Learn with people nearby</em></h3></div>

		<%= form_for :search, url: users_path, method: :get do |f| %>
		  <p>

		    <%= f.text_field :city_search, placeholder: "Type in a location" %>
		    <%= f.select :learning_search, options_for_select([ "Javascript", "Ruby on Rails", "Python", "jQuery", "C++", "HTML & CSS", "PHP", "Biology", "Calculus", "Linear Algebra", "Differential Equations", "Physics", "Chemistry", "Medicine", "Statistics", "Electronics", "Android Development", "iOS Development", "Google Glass Development", "Tesla Development", "SmartThings Development", "Occulus Rift Development", "Emotiv Development", "Meta Developers", "Raspberry Pi Development" ]) %> 
		    <div><%= f.submit "Search users", class: "button expand radius", id: "home-search" %></div>
		  </p>

		<% end %>

	</div>
</div>

<div class="text-center" id="home-heading"><span id="headliner">Find a study partner.</span></div>