<div id="map-canvas"></div>

<div id="users-div">
  <ul id="users-map">


  <% if params[:city_search] && params[:subject_search] || params[:city_search] && params[:subject_search] && params[:topic_search] %>
   <div class="user-title"><div class="user-found">Found users</div><div id="search-box"><span id="search-button">Advanced search</span></div></div>

   <div id="search-form" style="display:none;">
     Blang blang son!
   </div>

      <% @users.each do |user| %>
      <li>

          <% if user.image_url(:thumb) %>
            <%= image_tag user.image_url(:thumb), class: "avatar-image" %>
          <% else %>
            <%= image_tag "default.png", class: "avatar-image" %>
          <% end %>
          <%= link_to user.first_name, user %>
        
          <%= "is #{user.distance_to(params[:city_search]).round(2)} miles away." %> 
          <% if user.admin? && !current_user %>
            | <%= link_to "Delete", user, confirm: "Are you sure?", method: :delete %>

          <% end %>
        
      </li>

      <hr>

      <% end %>

  <% end %>

</div>

</ul>
</div>


<%= javascript_tag do %>

<% if params[:city_search] != "" %>

    var latitude = <%= @users.first.latitude %>;
  var longitude = <%= @users.first.longitude %>;
  var showMarker = false;

  var coords = <%= raw @users.map{|user| {latitude: user.latitude, longitude: user.longitude, id: user.id}}.to_json %>; 

<% end %> 

<% end %>