<div id="home-map" style="height:100%"></div>

<div class="users">
  <ul>

<div class="large-6 push-6 columns">
    <% if params[:search] && params[:search][:city_search] && params[:search][:learning_search] %>

      <% @users.each do |user| %>
    <li>
        <%= link_to user.first_name, user %>
        <p class="center"><%= image_tag(user.image_url(:thumb)) %></p>
        <%= "#{user.first_name} is #{user.distance.round(2)} miles away." %>
        <% if user.admin? && !current_user %>
            <%= location.distance.round(2) %> miles
          | <%= link_to "Delete", user, confirm: "Are you sure?", method: :delete %>

        <% end %>
      <% end %>
    </li>

    <% end %>

</div>

</ul>
</div>

<%= javascript_tag do %>
  window.latitude = <%= @users.first.latitude %>;
  window.longitude = <%= @users.first.longitude %>;
  window.showMarker = true;

  window.coords = <%= raw @users.map{|user| {latitude: user.latitude, longitude: user.longitude}}.to_json %>;

  var map;

  function initialize() {
        var location = new google.maps.LatLng(latitude, longitude);
        var mapOptions = {
          center: location,
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("home-map"),
            mapOptions);
      }
  google.maps.event.addDomListener(window, 'load', initialize);
<% end %>
