<% provide(:title, "All users") %>



<div class="small-12 large-6 large-centered columns">
<div class="text-center"><h1>Find a study partner</h1></div>

<%= form_for :search, url: users_path, method: :get do |f| %>
  <p>

    <%= f.text_field :city_search %>
    <%= f.select :learning_search, options_for_select([ "Biology & Life Sciences", "Business & Management", "Chemistry", "Communication", "Computer Science", "Economics & Finance", "Electronics","Energy & Earth Sciences", "Engineering","Environmental Sciences","Food & Nutrition","Food & Nutrition","Health & Safety", "History","Humanities","Law","Literature","Math","Medicine","Music","Philanthropy","Philosophy & Ethics","Physics","Social Sciences","Statistics & Data Analysis"]) %> 
    <%= f.submit "Search users" %>
  </p>

<% end %>



<ul class="users">


    <% @users.each do |user| %>

      <li>
          <%= gravatar_for user %>

          <%= link_to user.first_name, user %>

          <% if user.admin? && !current_user %>

            | <%= link_to "Delete", user, confirm: "Are you sure?", method: :delete %>

        
          <% end %>
      </li>
    <% end %>



</ul>

</div>

 
 