<div id="map-canvas" style="height:100%;width:56%;position:relative"></div>

<div id="users-div">
  <ul id="users-map">


    <% if params[:search] && params[:search][:city_search] && params[:search][:learning_search] %>

      <% @users.each do |user| %>

    <li style="width:900px">


        <%= gravatar_for user %>

        <%= link_to user.first_name, user %>

        <% if user.admin? && !current_user %>

          | <%= link_to "Delete", user, confirm: "Are you sure?", method: :delete %>

  
        <% end %>
      
      <% end %>
    </li>

  <% end %>


</ul>
</div>

<%= javascript_tag do %>
  window.latitude = <%= @users.first.latitude %>;
  window.longitude = <%= @users.first.longitude %>;
  window.showMarker = true;

  window.coords = <%= raw @users.map{|user| {latitude: user.latitude, longitude: user.longitude, id: user.id}}.to_json %>;  
<% end %>

