<div id="map-canvas"></div>

<div id="users-div">
  <ul id="users-map">


  <% if params[:search] && params[:search][:city_search] && params[:search][:learning_search] %>
    <h2 class="user-title">Found users</h2>
    <% @users.each do |user| %>
    <li>
        <%= image_tag user.image_url(:thumb) %>
        <%= link_to user.first_name, user %>
        <%= "is #{user.distance.round(2)} miles away." %>
        <% if user.admin? && !current_user %>
          | <%= link_to "Delete", user, confirm: "Are you sure?", method: :delete %>

        <% end %>
      
    </li>

    <hr>

    <% end %>

  <% end %>

</div>

</ul>
</div>


<%= javascript_tag do %>
  var latitude = <%= @users.first.latitude %>;
  var longitude = <%= @users.first.longitude %>;
  var showMarker = false;

  var coords = <%= raw @users.map{|user| {latitude: user.latitude, longitude: user.longitude, id: user.id}}.to_json %>;  
<% end %>