<div id="map-canvas"></div>

<div id="users-div">
  <ul id="users-map">


  <% if params[:city_search] && params[:subject_search] || params[:city_search] && params[:subject_search] && params[:topic_search] %>
   <div class="user-title"><div class="user-found">Found users</div><div id="search-box"><span id="search-button">Advanced search</span></div></div>

   <div id="search-form" style="display:none;">

    <h3 class="text-center">Advanced Search</h3>

    <%= form_tag users_path, role: "form", method: :get do %>
      <p>

        <%= text_field_tag :city_search, nil, placeholder:"Type in a location", class: "form-control" %> <br>

        <%= select_tag :subject_search, options_from_collection_for_select(Subject.all, :id, :name), prompt: "Select subject", class: "form-control" %> <br>

        <%= select_tag :topic_search, options_for_select(Topic.order('lower(name) ASC').pluck(:name).uniq), prompt: "Select topic", class: "form-control" %> <br>

        <%= select_tag :experience, options_for_select(["Beginner","Novice","Intermediate","Advanced","Expert"]), prompt: "Select level of expertise", class: "form-control" %> <br>

        <div><%= submit_tag "Search users", class: "btn btn-lg btn-primary btn-block", id: "home-search" %></div>
      </p>

     <% end %>
   </div>

      <% @users.each do |user| %>
      <li>

          <% if user.image_url(:thumb) %>
            <%= image_tag user.image_url(:thumb), class: "avatar-image" %>
          <% else %>
            <%= image_tag "default.png", class: "avatar-image" %>
          <% end %>
          <%= link_to user.first_name, user %>
        
          <% if @users.count > 1 %>

            <%= "is #{user.distance_to(params[:city_search]).round(2)} miles away." %> 

          <% end %>

          <% if user.admin? && !current_user %>
            | <%= link_to "Delete", user, confirm: "Are you sure?", method: :delete %>

          <% end %>
        
      </li>

      <hr>

      <% end %>

  <% end %>

</div>

</ul>
</div>


<%= javascript_tag do %>

<% if params[:city_search] != "" %>

    var latitude = <%= @users.first.latitude %>;
  var longitude = <%= @users.first.longitude %>;
  var showMarker = false;

  var coords = <%= raw @users.map{|user| {latitude: user.latitude, longitude: user.longitude, id: user.id}}.to_json %>; 

<% end %> 

<% end %>

<script>document.body.className = document.body.className.replace("canvas","");</script>