 <% provide(:title, @user.first_name) %>

<div class="row">
  <div class="small-12 large-4 columns">
    <div class="users">
    <h1>

      
      <%= image_tag @user.image_url(:thumb) %>

      <%= @user.first_name %>
      <%= link_to "Add as Friend", new_user_friendship_path(friend_id: @user), class: "button radius" %>
      <script>
    window.___gcfg = {
      lang: 'en-US'
    };

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js?onload=renderButton';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();

    function renderButton(){
      gapi.hangout.render('g-hangout', {
          'render': 'createhangout',
          'widget_size': 175
      });
    }
    </script>
    <div id="g-hangout"></div>
    </h1>
    <div>
    
    </div>
  

    <p><%= link_to "Create a meetup", new_meetup_path(second_user_id: @user.id) %></p>
    <section>
      <div>
        <div class="small-12 large-4 columns"></div>
    <table>
            <div>
            <tbody><tr>
            </tr>
            <tr>
              <td>Name</td>
              <td class="value"><%= @user.first_name %></td>
            </tr>
            <tr>
              <td>City</td>
              <td class="value"><%= @user.city %></td>
            </tr>
              <tr>
              <td>Available to study</td>
              <td class="value"><%= @user.currently_available %></td>
            </tr>
            <tr>
              <td>Study Location Available </td>
              <td class="value"><%= @user.study_location_available %></td>
            </tr>
            <tr>
              <td>Preferred Gender</td>
              <td class="value"><%= @user.preferred_gender %></td>
            </tr>
            <tr>
              <td>Languages</td>
              <td class="value"><%= @user.languages %></td>
            </tr>
            <tr>
              <td>Smoking Allowed</td>
              <td class="value"><%= @user.smoking_allowed %></td>
            </tr>
            <tr>
              <td>Can Host Children</td>
              <td class="value"><%= @user.can_host_children %></td>
            </tr>
            <tr>
              <td>Can Host Pets</td>
              <td class="value"><%= @user.can_host_pets %></td>
            </tr>
            <tr>
              <td>Has Pets</td>
              <td class="value"><%= @user.has_pets %></td>
            </tr>
            <tr>
              <td>Current Online Learning</td>
              <td class="value"><%= @user.current_online_learning %></td>
            </tr>
            <tr>
              <td>Education</td>
              <td class="value"><%= @user.education %></td>
            </tr>
            <tr>
              <td>Skills</td>
              <td class="value"><%= @user.skills %></td>
            </tr>
            <tr>
              <td>Description of Goals</td>
              <td class="value"><%= @user.description %></td>
            </tr>
          </div>
          </tbody>
        </table>
      </div>
    </section>
  </div>  
</div> 


<div class="large-6 columns">
  <div id="map-canvas" style="height:600px;width:600px;margin-top:30px"></div>


  <h2>Reviews</h2>
  <div id="reviews">
    <% if @user.reviews.empty? %>

      <h3>No one has given you a review!</h3>

    <% else %>
      <%= render "reviews" %>
    <% end %>
  </div>



  <h3>Write a review</h3>

    <% if current_user %>

      <%= form_for([@user,@user.reviews.build], remote: true) do |f| %>

        <div id="review-errors"><%= render "review_errors" %></div>

        <%= f.label :content %>
        <%= f.text_area :content %>

        <%= f.submit class: "button radius" %>

      <% end %>

    <% else %>
      <h4>Please <%= link_to "log in", login_path %> or <%= link_to "sign up", signup_path %> to write a user review</h4>
    <% end %>
</div>

<div class="large-6 columns">

</div>

<%= javascript_tag do %>

  var latitude = <%= @user.latitude %>;
  var longitude = <%= @user.longitude %>;
  var showMarker = true;

  var coords = <%= raw @nearbys.map{|user| {latitude: user.latitude, longitude: user.longitude, id: user.id}}.to_json %>;

<% end %>


  
