<% provide(:title, @user.first_name) %>

<div class="row">
  <div class="small-12 large-4 columns">
    <div class="users">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.first_name %>
    </h1>
    </div>
    <p><%= @user.email %></p>
    <section>

    	<h3>Nearby users</h3>
    	<ul>
	    	<% @nearbys.each do |user| %>

	    		<li><%= link_to user.first_name, user %> (<%= user.distance.round(2) %> km)</li>

	    	<% end %>
    	</ul>

    </section>
  </div>	
</div> 

<% provide(:title, @user.username) %>

<div class="row">
  <div class="small-12 large-4 columns">
    <div class="users">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.username %>
    </h1>
    </div>
    <p><%= @user.email %></p>
  <section>
  	<%= render "shared/micropost_form" %>
  </section>
  </div>
  <div class="large-8 columns">
  	<h2><em>Microposts (<%= @user.microposts.count %>)</em></h2>
	  	<% if @user.microposts.count != 0 %>
	  		<ul>
	  			<div class="microposts">
			  			<% @user.microposts.each do |m| %>
			  				<li>
				  				<span class="content"><%= m.content %></span>
						  		<span class="timestamp">
						  			Posted <%= time_ago_in_words(m.created_at) %> ago.
						  		</span>
			  				</li>
					  	<% end %>
	  			</div>
	  		</ul>
		<% else %>
			<h3>You have no microposts meng! Write someting!</h3>
	  	<% end %>
	  	<%= will_paginate @microposts %>
  </div>	
</div>  













