<% provide(:title, @user.first_name) %>

<div class="row">
  <div class="small-12 large-4 columns">
    <div class="users">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.first_name %>
    </h1>
    </div>
    <p><%= @user.email %></p>
    <section>

    	<h3>Nearby users</h3>
    	<ul>
	    	<% @nearbys.each do |user| %>

	    		<li><%= link_to user.first_name, user %> (<%= user.distance.round(2) %> km)</li>

	    	<% end %>
    	</ul>

    </section>
    <p><%= link_to "Create a meetup", new_meetup_path(@user) %></p>
  </div>	
</div> 

