<% provide(:title, @user.first_name) %>

<div class="row">
  <div class="small-12 large-4 columns">
    <div class="users">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.first_name %>
      <%= image_tag @user.image_url(:thumb) %></h1>
    <div>
    
    </div>
    <p><%= @user.email %></p>
    <section>

    	<h3>Nearby users</h3>

        <div>
          <ul>
            <% @nearbys.each do |user| %>

              <li><%= link_to user.first_name, user %> (<%= user.distance.round(2) %> km)</li>

            <% end %>
          </ul>
        </div>

    </section>
    <p><%= link_to "Create a meetup", new_meetup_path(second_user_id: @user.id) %></p>
  </div>	
</div> 


<div class="large-6 columns">
  <div id="map-canvas" style="height:600px;width:600px;margin-top:30px"></div>
</div>

<%= javascript_tag do %>

  window.latitude = <%= @user.latitude %>;
  window.longitude = <%= @user.longitude %>;

  window.coords = <%= raw @nearbys.map{|user| {latitude: user.latitude, longitude: user.longitude}}.to_json %>;

<% end %>