<% provide(:title, @user.first_name) %>

<div class="row">
  <div class="small-12 large-4 columns">
    <div class="users">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.first_name %>
      <%= image_tag @user.image_url(:thumb) %></h1>
    <div>
    
    </div>
    <p><%= @user.email %></p>
    <section>

      <h3>Nearby users</h3>
        <div>
          <ul>
            <% @nearbys.each do |user| %>

              <li><%= link_to user.first_name, user %> (<%= user.distance.round(2) %> km)</li>

            <% end %>
          </ul>
        </div>

    </section>
    <p><%= link_to "Create a meetup", new_meetup_path(second_user_id: @user.id) %></p>
  </div>  
</div> 


<div class="large-6 columns">
  <div id="map-canvas" style="height:600px;width:600px;margin-top:30px"></div>


  <h2>Reviews</h2>
  <div id="reviews">
    <% if @user.reviews.empty? %>

      <h3>No one has given you a review!</h3>

    <% else %>
      <%= render "reviews" %>
    <% end %>
  </div>



  <h3>Write a review</h3>

    <% if current_user %>

      <%= form_for([@user,@user.reviews.build], remote: true) do |f| %>

        <div id="review-errors"><%= render "review_errors" %></div>

        <%= f.label :content %>
        <%= f.text_area :content %>

        <%= f.submit class: "button radius" %>

      <% end %>

    <% else %>
      <h4>Please <%= link_to "log in", login_path %> or <%= link_to "sign up", signup_path %> to write a user review</h4>
    <% end %>
</div>

<div class="large-6 columns">

</div>

<%= javascript_tag do %>

  var latitude = <%= @user.latitude %>;
  var longitude = <%= @user.longitude %>;
  var showMarker = true;

  var coords = <%= raw @nearbys.map{|user| {latitude: user.latitude, longitude: user.longitude, id: user.id}}.to_json %>;

<% end %>
