<%= form_for @subject do |f| %>
	
	<%= render "shared/error_messages", object: f.object %>

	<%= f.label :name, "Subject" %>
	<%= f.text_field :name, class: "form-control" %>

	<div class="text-center"><%= f.submit class: "btn btn-primary" %></div>

<% end %>