<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api}&sensor=false" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <!-- Navigation -->
 
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <%= link_to "MindMeetup", root_url %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">

        <% if current_user && logged_in? %>
          <li id="logged-in">Logged in as <%= current_user.first_name %></li>
          <li class="divider"></li>
          <li><%= link_to "Log out", logout_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Study Partners", user_friendships_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Meetups", meetups_path %></li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <% if current_user.address && current_user.first_name && current_user.last_name && current_user.city && current_user.state_province && current_user.country && current_user.learning %>
              <%= link_to "Profile", user_path(current_user) %>
            <% end %>
            <!-- ul class="dropdown -->
              <li><%= link_to "Search", users_path %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><a href="#">Dropdown Option</a></li>
              <li class="divider"></li>
              <li><a href="#">See all &rarr;</a></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign up", signup_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Log in", login_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Login with Google', auth_at_provider_path(:provider => :google) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %></li>
        <% end %>
      </ul>
    </section>
  </nav>
 
  <!-- End Top Bar -->

  <div class="row">
      <div class="small-12 columns">
        <% flash.each do |key,value| %>
          <div data-alert class="alert-box <%= key %> radius">
            <%= value %>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= params %>
  </body>
</html>