<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api}&sensor=false" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <!-- Navigation -->
 
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <% if logged_in? %>
            <%= link_to "MindMeetup", user_path(current_user) %>
          <% else %>
            <%= link_to "MindMeetup", root_url %>
          <% end %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">

        <% if current_user && logged_in? %>
          <li id="logged-in">Logged in as <%= current_user.first_name %></li>
          <li><%= link_to "Log out", logout_path %></li>
          <li><%= link_to "Meetups", meetups_path %></li>
          <li class="has-dropdown">
            <% if current_user.address && current_user.first_name && current_user.last_name && current_user.city && current_user.state_province && current_user.country && current_user.subjects.any? && current_user.topics.any? %>
            <%= link_to "Account", "#" %>
            <% end %>
            <ul class="dropdown">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Study Partners", user_friendships_path %></li>
              <li><%= link_to "Search", users_path %></li>
              <li><%= link_to "User info", edit_user_path(current_user) %></li>
              <li><%= link_to "Learning", new_topic_path %></li>
              <li><%= link_to "Meetup info", edit_meetup_info_user_path(current_user) %>
            </ul>
          </li>

        <% else %>
          <li><%= link_to "Sign up", "#signup-box", class: "login-window" %></li>
          <li class="divider"></li>
          <li><%= link_to "Log in", "#login-box", class: "login-window" %></li>
        <% end %>
      </ul>
    </section>
  </nav>
 
  <!-- End Top Bar -->

    <div class="small-12 columns alerts">
      <% flash.each do |key,value| %>
        <div class="row">
          <div data-alert class="alert-box <%= key %> radius">
            <%= value %>
          </div>
        </div>
      <% end %>
    </div>

    <div id="signup-box" class="login-popup">
      <%= link_to(image_tag("close_pop.png", class: "btn_close", title: "Close window", alt: "Close"), "#", class: "close") %>
        <div class="login-header">
          <h1 class="login-h1">Sign up</h1>
        </div>
        
        <div class="login-buttons">
          
          <%= link_to(image_tag("google-up.png", class: "login-image"), auth_at_provider_path(:provider => :google)) %>
          <%= link_to(image_tag("facebook-up.png", class: "login-image"), auth_at_provider_path(:provider => :facebook)) %>

          <h3 class="text-center">OR</h3>

          <h3 class="text-center"><%= link_to "Sign up here!", signup_path %></h3>
          
        </div>
    </div>

    <div id="login-box" class="login-popup">
      <%= link_to(image_tag("close_pop.png", class: "btn_close", title: "Close window", alt: "Close"), "#", class: "close") %>
      <div class="login-header">
        <h1 class="login-h1">Log in</h1>
      </div>

      <div class="login-buttons">
        <%= link_to(image_tag("google.png", class: "login-image"), auth_at_provider_path(:provider => :google)) %>
        <%= link_to(image_tag("facebook.png", class: "login-image"), auth_at_provider_path(:provider => :facebook)) %>

        <h3 class="text-center">OR</h3>

        <%= form_tag sessions_path, class: "signin" do %>
          <div class="field">
            <%= label_tag :email %>
            <%= text_field_tag :email, params[:email] %>
          </div>
          <div class="field">
            <%= label_tag :password %>
            <%= password_field_tag :password %>
          </div>
          <div class="field">
            <%= check_box_tag :remember_me, 1, params[:remember_me] %>
            <%= label_tag :remember_me %>
          </div>
          <div class="field">
            <%= link_to "Forgot password?", new_password_reset_path %>
          </div><br>
          <div class="actions text-center"><%= submit_tag "Log in", class: "button radius" %></div>
        <% end %>
      </div>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>

    <%= params %>
    
  </body>
</html>